.expense-form {
  max-width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.total-expense {
  font-size: 1.2em;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.expense-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.expense-entry {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  width: 45%; /* 2 entries per row */
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease; /* Transition added */
}

.expense-entry:hover {
  transform: scale(1.05); /* Slight scaling effect */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  background-color: #f1f1f1; /* Change background color */
}

.remove-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.add-button,
.submit-button {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.add-button:hover,
.submit-button:hover,
.remove-button:hover {
  opacity: 0.8;
}

/* Media query for smaller screens (tablets and below) */
@media (max-width: 768px) {
  .expense-entry {
    width: 100%; /* One entry per row for smaller screens */
  }
}
