/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Report container */
.income-report-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* For positioning the filter container */
}

.chart-container {
    width: 100%;
    padding: 1rem;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
}


/* Filter container styles */
.filter-container {
    position: absolute;
    top: 1%; /* Adjusted for better spacing */
    /* left: 30%; */
    right: 1%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-container label {
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
}

.filter-container select,
.filter-container input {
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

/* Chart styles */
.income-report-container canvas {
    width: 400px;
    height: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Legend styles */
.chartjs-legend {
    font-family: Lato, sans-serif;
}

.chartjs-legend-item {
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.8);
}

.chartjs-legend-text {
    font-size: 14px;
    line-height: 1.2;
}

/* Download buttons */
.download-buttons {
    margin-top: 20px;
    text-align: center;
}

.download-buttons button {
    background-color: #77b6ae;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.download-buttons button:hover {
    background-color: #69a89d;
}
