/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(245, 245, 245, 0.8);
  color: #333;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-image: url("C:\Users\pkshi\Documents\Study notes\Projects\Internship Project\agriculture-income-expense-management-system\src\images\BACKGRND.jpg");
  background-position: center;
  background-size: cover;
}

.signup-form-container {
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 470px;
  width: 100%;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Form Styles */
h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #4285f4;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  transition: background-color 0.3s ease-in-out;
}

input:focus {
  background-color: #e6e6e6;
  outline: none;
}

button {
  background-color: #4285f4;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #3367d6;
}

button:disabled::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-top-color: #4285f4;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin-left: 10px;
}

p {
  margin-top: 20px;
  font-size: 14px;
}

p a {
  color: #4285f4;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

p a:hover {
  color: #3367d6;
}

/* Error Styles */
.error {
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

/* Responsive Styles */
@media screen and (max-width: 480px) {
  .form-container {
    padding: 20px;
  }
}
